@font-face {
    font-family: PFBeatSansPro-SemiBold;
    src: url("fonts/ledel/PFBeauSansPro-SemiBold.otf");
}@font-face {
    font-family: PFBeatSansPro-regular;
    src: url("fonts/ledel/PFBeauSansPro-Regular.otf");
}
.withFont{
    font-family: PFBeatSansPro-SemiBold;
}

.video h2{
    font-family: PFBeatSansPro-SemiBold;
}
.ll{
    font-family: PFBeatSansPro-SemiBold;
    text-decoration: none;
    position: relative;
    left: 10px;
    font-size: 10px;
    color: black;
}
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
canvas {
    display: block !important; /* fix necessary to remove space at bottom of canvas */
    width: 100% !important;
    aspect-ratio: inherit !important;
    height: 100% !important;
}

#ui1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-self: center;
    visibility: hidden;
    background: white;
    width: 500px;
    height: 800px;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}#ui2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-self: center;
    visibility: hidden;
    background: white;
    width: 500px;
    height: 800px;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}#ui3 {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-self: center;
    visibility: hidden;
    background: white;
    width: 500px;
    height: 800px;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}#ui4 {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-self: center;
    visibility: hidden;
    background: white;
    width: 500px;
    height: 800px;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}#ui5 {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-self: center;
    visibility: hidden;
    background: white;
    width: 500px;
    height: 800px;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}#ui6 {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-self: center;
    visibility: hidden;
    background: white;
    width: 500px;
    height: 800px;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}#ui7 {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-self: center;
    visibility: hidden;
    background: white;
    width: 500px;
    height: 800px;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}#ui8 {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-self: center;
    visibility: hidden;
    background: white;
    width: 500px;
    height: 800px;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}#ui9 {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-self: center;
    visibility: hidden;
    background: white;
    width: 500px;
    height: 800px;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}#ui10{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-self: center;
    visibility: hidden;
    background: white;
    width: 500px;
    height: 800px;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}#ui11 {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-self: center;
    visibility: hidden;
    background: white;
    width: 500px;
    height: 800px;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.name{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    background: #5A5A5A;
    color: white;
    width: 350px;
    margin-top: 30px
}

.hide-btn{
    border: none;
    background: transparent;
    width: 60px;
    height: 60px;
    position: relative;
    left: 400px;
    top: -40px
}

.name-text{
    font-family: PFBeatSansPro-SemiBold;
    position: relative;
    margin-left: 30px;
    margin-bottom: 4px;
    margin-top: 4px;
}
.size{
    width: 36px;
    height: 36px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

.info{
    position: relative;
    width: 420px;
    justify-self: center;
    left: 40px;
}
.info h2{
    font-family: PFBeatSansPro-SemiBold;
}
.info p{
    font-family: PFBeatSansPro-regular;
}

.video h2{
    position: relative;
    width: 420px;
    left: 40px;
}

.video-player{
    width: 500px;
}

.projects h2{
    font-family: PFBeatSansPro-SemiBold;
    position: relative;
    width: 420px;
    left: 40px;
}

.logo{
    position: relative;
    margin-top: 60px;
    margin-left: 40px;
    margin-bottom: 20px;
    width: 20%;
    height: 20%;
}

.linkTo{
    font-family: PFBeatSansPro-SemiBold;
    position: relative;
    margin-top: -90px;
    left: 40%;
    width: 250px;
    font-size: 12px;
}
.linkToBig{
    font-family: PFBeatSansPro-SemiBold;
    position: relative;
    margin-top: -140px;
    left: 40%;
    width: 250px;
    font-size: 12px;
}
.arrow{
    position: relative;
    top: -10px;
}

.link{
    position: absolute;
    left: 80%;
    top: 30px;
}

/*navigation*/

#map-nav {
    position: absolute;
    top: 40px;
    left: 40px;
}

#menu-nav {
    position: relative;
    top: 50px;
    visibility: hidden;
    background: white;
    border-radius: 3px;
}
#menu-nav li{
    position: relative;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    top: 0px;
    font-size: 20px;
    list-style-type: none;
    margin-right: 40px;
}

#menu-nav li button{
    font-family: "PFBeatSansPro-SemiBold";
    position: relative;
    border: none;
    background: white;
    font-weight: 500;
    left: 20px;
}

#open_map{
    position: absolute;
}
#close_map{
    position: absolute;
    visibility: hidden;
}

 /*W3School - CAROUSEL*/




* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}.mySlides2 {
    display: none;
}.mySlides3 {
    display: none;
}.mySlides4 {
     display: none;
 }.mySlides5 {
      display: none;
  }.mySlides6 {
       display: none;
   }.mySlides7 {
        display: none;
    }

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}.dot2 {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}.dot3 {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}.dot7 {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media only screen and (max-width: 600px) {
    #ui1 {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-self: center;
        visibility: hidden;
        background: white;
        width: 350px;
        height: 600px;
        overflow-x: hidden;
        overflow-y: scroll;
        top: 50%;
        left: 51%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }#ui2 {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-self: center;
        visibility: hidden;
        background: white;
        width: 350px;
        height: 600px;
        overflow-x: hidden;
        overflow-y: scroll;
        top: 50%;
        left: 51%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }#ui3 {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-self: center;
        visibility: hidden;
        background: white;
        width: 350px;
        height: 600px;
        overflow-x: hidden;
        overflow-y: scroll;
        top: 50%;
        left: 51%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }#ui4 {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-self: center;
        visibility: hidden;
        background: white;
        width: 350px;
        height: 600px;
        overflow-x: hidden;
        overflow-y: scroll;
        top: 50%;
        left: 51%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }#ui5 {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-self: center;
        visibility: hidden;
        background: white;
        width: 350px;
        height: 600px;
        overflow-x: hidden;
        overflow-y: scroll;
        top: 50%;
        left: 51%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }#ui6 {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-self: center;
        visibility: hidden;
        background: white;
        width: 350px;
        height: 600px;
        overflow-x: hidden;
        overflow-y: scroll;
        top: 50%;
        left: 51%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }#ui7 {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-self: center;
        visibility: hidden;
        background: white;
        width: 350px;
        height: 600px;
        overflow-x: hidden;
        overflow-y: scroll;
        top: 50%;
        left: 51%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }#ui8 {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-self: center;
        visibility: hidden;
        background: white;
        width: 350px;
        height: 600px;
        overflow-x: hidden;
        overflow-y: scroll;
        top: 50%;
        left: 51%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }#ui9 {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-self: center;
        visibility: hidden;
        background: white;
        width: 350px;
        height: 600px;
        overflow-x: hidden;
        overflow-y: scroll;
        top: 50%;
        left: 51%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }#ui10 {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-self: center;
        visibility: hidden;
        background: white;
        width: 350px;
        height: 600px;
        overflow-x: hidden;
        overflow-y: scroll;
        top: 50%;
        left: 51%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }#ui11 {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-self: center;
        visibility: hidden;
        background: white;
        width: 350px;
        height: 600px;
        overflow-x: hidden;
        overflow-y: scroll;
        top: 50%;
        left: 51%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .info{
        position: relative;
        width: 300px;
        justify-self: center;
        left: 20px;
    }

    .linkTo{
        font-family: PFBeatSansPro-SemiBold;
        position: relative;
        margin-top: -90px;
        left: 40%;
        width: 250px;
        font-size: 12px;
    }
    .linkTo h2 {
        font-size: 12px;
        position: relative;
        top: -20px;
    }
    .linkToBig{
        font-family: PFBeatSansPro-SemiBold;
        position: relative;
        margin-top: -140px;
        left: 40%;
        width: 250px;
        font-size: 12px;
    }
    .linkToBig h2{
        font-size: 12px;
        top: 20px;
        position: relative;
    }
    .arrow{
        position: relative;
        top: -20px;
        left: -80px;
    }

    .link{
        position: absolute;
        left: 80%;
        top: 30px;
    }

    .hide-btn{
        border: none;
        background: transparent;
        width: 30px;
        height: 30px;
        position: relative;
        left: 300px;
        top: 20px
    }
}
